<template>
  <v-app  style="background-image: linear-gradient(#e1e9f6, #86b9fa); width:100%; min-height: 100%; margin: 0px; padding: 0px;">
    <v-main>
      <router-view name="Navbar"></router-view>
      <router-view name="UnloggedContent"></router-view>
      <div class="sidebar-left">
        <router-view name="LeftSidebar"></router-view>
      </div>
      <div class="content-right">
        <router-view name="MainContent"></router-view>
      </div>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>

<style>
button {
  font-size: 18px!important;
  /* font-family: Verdana; */
}

#app {
  /* font-family: Verdana; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  font-size: 18px;
  color: #2c3e50;
}
</style>
