<template>
    <div class="hidden">
        <vs-sidebar background="#86b9fa" textWhite hover-expand reduce v-model="active" open>
            <template #logo>
                <!-- SkyConnect -->
                <img src="http://localhost:8080/images/logo/logocrni-02_40x40.png" alt="">
            </template>
            <vs-sidebar-item id="home" to="/home">
                <template #icon>
                    <!-- <i class='bx bx-home'></i> -->
                    <home :svgColor="'#ffffff'" />
                </template>
                Home
            </vs-sidebar-item>
            <vs-sidebar-item id="friends" to="/friends">
                <template #icon>
                    <!-- <i class='bx bx-grid-alt'></i> -->
                    <friends :svgColor="'#ffffff'" />
                </template>
                Friends
            </vs-sidebar-item>
            <vs-sidebar-item id="pendingRequests" to="/pendingRequests">
                <template #icon>
                    <v-badge v-if="pendingFriendRequests > 0" color="green" :content="pendingFriendRequests" overlap>
                        <person_add :svgColor="'#ffffff'" />
                    </v-badge>
                    <person_add v-else :svgColor="'#ffffff'" />
                </template>
                Pending friend requests
            </vs-sidebar-item>
            <vs-sidebar-item id="posts" to="/myposts">
                <template #icon>
                    <!-- <i class='bx bxs-music'></i> -->
                    <posts :svgColor="'#ffffff'" />
                </template>
                My posts
            </vs-sidebar-item>
            <vs-sidebar-item id="gallery" to="/gallery">
                <template #icon>
                    <!-- <i class='bx bxs-music'></i> -->
                    <gallery :svgColor="'#ffffff'" />
                </template>
                Gallery
            </vs-sidebar-item>
            <vs-sidebar-group>
                <template #header>
                    <vs-sidebar-item arrow>
                        <template #icon>
                            <!-- <i class='bx bx-group'></i> -->
                            <docs :svgColor="'#ffffff'" />
                        </template>
                        Docs
                    </vs-sidebar-item>
                </template>

                <vs-sidebar-item id="termsofuse" to="/user/termsofuse">
                    <template #icon>
                        <i class='bx bxl-instagram'></i>
                    </template>
                    <u>Terms of use</u>
                </vs-sidebar-item>
                <vs-sidebar-item id="privacypolicy" to="/user/privacypolicy">
                    <template #icon>
                        <i class='bx bxl-twitter'></i>
                    </template>
                    <u>Privacy policy</u>
                </vs-sidebar-item>
                <vs-sidebar-item id="license" to="/user/license">
                    <template #icon>
                        <i class='bx bxl-facebook'></i>
                    </template>
                    <u>License</u>
                </vs-sidebar-item>
            </vs-sidebar-group>
            <vs-sidebar-item id="block" to="/blockedusers">
                <template #icon>
                    <block :svgColor="'#ffffff'" />
                </template>
                Blocked users
            </vs-sidebar-item>
        </vs-sidebar>
    </div>
</template>
<script>

import home from '@/assets/home_opsz40.vue';
import friends from '@/assets/people/groups_opsz40.vue';
import gallery from '@/assets/post/grid_view_opsz40.vue';
import docs from '@/assets/util/description_opsz40.vue';
import posts from '@/assets/post/table_opsz40.vue';
import block from '@/assets/people/no_accounts_opsz40.vue';
import person_add from '@/assets/people/person_add_opsz40.vue';

import axios from 'axios';

export default {
    name: 'UserSidebar',
    created() {
        let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
        let user = userwithtoken.user;
        let token = userwithtoken.token;
        let self = this;
        axios.defaults.headers.common['Authorization'] = token;
        axios.get('/friendrequest/count/' + user.id)
        .then((res) => {
            self.pendingFriendRequests = res.data;
        }).catch((err) => {
            console.log(err);
        })

    },
    data: () => ({
        active: 'home',
        pendingFriendRequests: 0
    }),
    methods: {
        openLicense() {
            this.$router.push('/user/license');
        },
        goToHome() {
            this.$router.push('/home')
        },
        goToMyPosts() {
            this.$router.push('/myposts')
        },
        goToMyGallery() {
            this.$router.push('/gallery')
        }
    },
    components: {
        home,
        friends,
        gallery,
        docs,
        posts,
        block,
        person_add
    }
}
</script>

<style scoped>
u {
    padding-left: 10px;
}
</style>
        