  <template>
    <div class="navbar">
        <vs-navbar center-collapsed v-model="navselection">
            <template #left>
                <img @click="goToHomePage" src="http://localhost:8080/images/logo/logocrni-02_40x40.png" alt="">
            </template>

            <v-tooltip left>
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field v-bind="attrs" v-on="on" class="searchfield"
                        v-model="searchName" placeholder="Search SkyConnect..." :append-icon="'mdi-magnify'"
                        v-on:keyup.enter="searchUsers"></v-text-field>
                </template>
                <span>Press Enter to search</span>
            </v-tooltip>
            <v-btn text @click="showDateRangePicker">
                <v-icon>
                    {{  chevron_icon  }}
                </v-icon>
            </v-btn>

            <v-menu v-if="minDateShow" ref="menuSearch1" v-model="menuSearch1" :close-on-content-click="false"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field v-model="dateSearch1" label="Birthday date" prepend-icon="mdi-calendar" readonly class="searchfield"
                        v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="dateSearch1" :active-picker.sync="activePickerSearch1"
                    :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
                    min="1950-01-01" @change="saveSearch1"></v-date-picker>
            </v-menu>

            <v-menu v-if="maxDateShow" ref="menuSearch2" v-model="menuSearch2" :close-on-content-click="false"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field v-model="dateSearch2" label="Birthday date" prepend-icon="mdi-calendar" readonly class="searchfield"
                        v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="dateSearch2" :active-picker.sync="activePickerSearch2"
                    :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
                    min="1950-01-01" @change="saveSearch2"></v-date-picker>
            </v-menu>
            <template #right>
                <vs-navbar-group>
                    Docs
                    <template #items>
                        <vs-navbar-item :active="navselection == 'termsofuse'" id="termsofuse">
                            <span @click="openTermsOfUse">Terms of use</span>
                        </vs-navbar-item>
                        <vs-navbar-item :active="navselection == 'privacypolicy'" id="privacypolicy">
                            <span @click="openPrivacyPolicy">Privacy policy</span>
                        </vs-navbar-item>
                        <vs-navbar-item :active="navselection == 'license'" id="license">
                            <span @click="openLicense">License</span>
                        </vs-navbar-item>
                    </template>
                </vs-navbar-group>
                <vs-button @click="show_reg_modal = !show_reg_modal" success animation-type="vertical">
                    <template #animate>
                        <i class="bx bx-home-alt">
                            <register :svgColor="'#ffffff'"></register>
                        </i>
                    </template>
                    Register
                </vs-button>
                <vs-button @click="show_login_modal = !show_login_modal"><template #animate>
                        <i class="bx bx-home-alt">
                            <door_open :svgColor="'#ffffff'" />
                        </i>
                    </template>Login</vs-button>

            </template>

        </vs-navbar>

        <!-- LOGIN MODAL -->
        <div class="center">
            <vs-dialog v-model="show_login_modal">
                <template #header>
                    <h4 class="not-margin">
                        Welcome to <b>SkyConnect</b>
                    </h4>
                </template>


                <div class="con-form">
                    <v-text-field v-model="emailOrUsername" label="Email or username" hide-details="auto">
                    </v-text-field>
                    <v-text-field v-model="loginPassword" label="Password" :type="show_login_pass ? 'text' : 'password'"
                        counter @click:append="show_login_pass = !show_login_pass"
                        :append-icon="show_login_pass ? 'mdi-eye' : 'mdi-eye-off'"></v-text-field>
                    <div class="flex">
                        <vs-checkbox v-model="remember">Remember me</vs-checkbox>
                        <a href="#">Forgot Password?</a>
                    </div>
                </div><template #footer>
                    <div class="footer-dialog">
                        <vs-button block @click="login">
                            Sign In
                        </vs-button>

                        <div class="new">
                            New Here? <a href="#" @click="open_reg_dialogue">Create New Account</a>
                        </div>
                    </div>
                </template>
            </vs-dialog>
        </div>

        <!-- REGISTRATION MODAL -->
        <div class="center">
            <vs-dialog v-model="show_reg_modal">
                <template #header>
                    <h4 class="not-margin">
                        Welcome to <b>SkyConnect</b>
                    </h4>
                </template>
                <div class="con-form">
                    <div>
                        <v-text-field v-model="name" :rules="nameRules" label="Name" required></v-text-field>
                    </div>
                    <div>
                        <v-text-field v-model="surname" :rules="nameRules" label="Surname" required></v-text-field>
                    </div>
                    <div style="text-align: center">
                        <b>Gender: </b>
                        <p>
                            <vs-radio v-model="picked_gender" val="MALE">
                                <male></male>Male
                            </vs-radio>
                            <vs-radio v-model="picked_gender" val="FEMALE">
                                <female></female>Female
                            </vs-radio>
                        </p>
                    </div>
                    <div>
                        <b>Date of birth:</b>
                        <v-menu ref="menu" v-model="menu" :close-on-content-click="false" transition="scale-transition"
                            offset-y min-width="auto">
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="date" label="Birthday date" prepend-icon="mdi-calendar" readonly
                                    v-bind="attrs" v-on="on"></v-text-field>
                            </template>
                            <v-date-picker v-model="date" :active-picker.sync="activePicker"
                                :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
                                min="1950-01-01" @change="save"></v-date-picker>
                        </v-menu>
                    </div>
                    <div>
                        <v-text-field v-model="username" :rules="usernameRules" label="Username" required>
                        </v-text-field>
                    </div>
                    <div>
                        <v-text-field v-model="emailReg" :rules="emailRules" label="Email" required></v-text-field>
                    </div>
                    <div>
                        <v-text-field v-model="regPassword" label="Password" :type="'password'"
                            hint="At least 8 characters"
                            :rules="[confirmPasswordRules.required, confirmPasswordRules.min]" required />
                    </div>
                    <div>
                        <v-text-field v-model="regPasswordConfirm" label="Confirm password" :type="'password'"
                            hint="At least 8 characters" :rules="[confirmPasswordRules.required]" required />
                    </div>
                </div><template #footer>
                    <div class="footer-dialog">
                        <vs-button @click="register" success block>
                            Sign Up
                        </vs-button>
                    </div>
                </template>
            </vs-dialog>
        </div>
        
        <vs-dialog not-padding v-model="notifAlert">
            <NotificationAlert :message="alertMsg"/>
        </vs-dialog>
        <vs-dialog not-padding v-model="errorAlert">
            <ErrorAlert :message="alertMsg"/>
        </vs-dialog>
    </div>

</template>

<script>

import door_open from '@/assets/util/door_open_opsz24.vue';
import register from '@/assets/util/app_registration_opsz24.vue';
import male from '@/assets/profile/male_opsz20.vue';
import female from '@/assets/profile/female_opsz20.vue';

import NotificationAlert from '@/components/alerts/NotificationAlert.vue';
import ErrorAlert from '@/components/alerts/ErrorAlert.vue';

import axios from 'axios';

export default {
    name: 'NavBar',
    data: () => ({
        dateSearch1: '',
        activePickerSearch1: null,
        dateSearch2: '',
        activePickerSearch2: null,

        menuSearch1: false,
        menuSearch2: false,
        minDateShow: false,
        maxDateShow: false,

        chevron_icon_right: 'mdi-chevron-right',
        chevron_icon_left: 'mdi-chevron-left',
        chevron_icon: 'mdi-chevron-right',

        remember: false,
        searchName: '',
        navselection: 'guide',
        show_login_modal: false,
        show_reg_modal: false,

        logged_in: false,
        // LOGIN MODAL
        emailOrUsername: '',
        loginPassword: '',
        show_login_pass: false,


        // REGISTRATION MODAL
        username: '',
        regPassword: null,
        regPasswordConfirm: null,
        picked_gender: 'MALE',
        name: '',
        surname: '',
        emailReg: '',
        nameRules: [
            v => !!v || 'Field is required',
            v => (v && v.length <= 20) || 'Name must be less than 20 characters',
        ],
        activePicker: null,
        date: null,
        menu: false,

        emailRules: [
            v => !!v || 'Email is required',
            v => /.+@.+\..+/.test(v) || 'Email must be valid',
        ],
        usernameRules: [],
        loginPasswordRules: {
            required: value => !!value || 'Required.',
            min: v => v.length >= 8 || 'Min 8 characters',
        },
        confirmPasswordRules: {
            required: (value) => value === this.regPassword || 'Passwords need to match.',
            min: v => v.length >= 8 || 'Min 8 characters'
        },

        errorAlert: false,
        notifAlert: false,
        alertMsg: ''
    }),
    watch: {
        menu(val) {
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        },
    },
    components: {
        door_open,
        register,
        male,
        female,
        NotificationAlert,
        ErrorAlert
    },
    methods: {
        goToHomePage() {
            this.searchName = '';
            this.dateSearch1 = '';
            this.dateSearch2 = '';
            this.$router.push('/')
        },
        open_reg_dialogue() {
            this.show_login_modal = false;
            this.show_reg_modal = true;
        },
        save(date) {
            this.$refs.menu.save(date)
        },
        openLicense() {
            this.$router.push('/license');
        },
        openTermsOfUse() {
            this.$router.push('/termsofuse')
        },
        openPrivacyPolicy() {
            this.$router.push('/privacypolicy')
        },

        save_session_storage(data) {
            sessionStorage.setItem('state', JSON.stringify(data));
            console.log('SESSIONSTORAGE: ' + sessionStorage.getItem('state'));
        },
        login() {
            let login_credentials = {
                'emailOrUsername': this.emailOrUsername,
                'password': this.loginPassword
            }
            let self = this;
            axios.post('/login', login_credentials).
                then((res) => {
                    let userwithtoken = res.data;
                    let user = userwithtoken.user;
                    if (user.suspended) {
                        alert('This account is suspended');
                        self.emailOrUsername = ''
                        self.loginPassword = ''
                        return;
                    }
                    self.save_session_storage(userwithtoken);
                    self.$router.push('/home')
                }).
                catch((err) => {
                    self.show_login_modal = false;
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                })
        },
        register() {
            let regRequest = {
                'username': this.username,
                'password1': this.regPassword,
                'password2': this.regPasswordConfirm,
                'gender': this.picked_gender,
                'name': this.name,
                'surname': this.surname,
                'email': this.emailReg,
                'dateOfBirth': this.date,
            }

            let self = this;
            axios.post('/register', regRequest)
                .then((res) => {
                    if (res.status === 200) {
                        self.show_reg_modal = false;
                        self.alertMsg = res.data.message;
                        self.notifAlert = true;
                    }
                })
        },
        showDateRangePicker() {
            if (this.chevron_icon == this.chevron_icon_right) {
                this.chevron_icon = this.chevron_icon_left
                this.minDateShow = true;
                this.maxDateShow = true;
            } else {
                this.chevron_icon = this.chevron_icon_right
                this.minDateShow = false;
                this.maxDateShow = false;
                this.dateSearch1 = '';
                this.dateSearch2 = '';
            }


        },
        searchUsers() {
            let self = this;
            axios.get('/user/search?name=' + this.searchName + '&minDate=' + this.dateSearch1 + '&maxDate=' + this.dateSearch2)
            .then((res) => {
                sessionStorage.setItem('searchResults', JSON.stringify(res.data));
                self.$router.push('/results');

            }).catch((err) => {
                console.log(err);
            })
        },
        saveSearch1(date) {
            this.$refs.menuSearch1.save(date)
        },
        saveSearch2(date) {
            this.$refs.menuSearch2.save(date)
        }
    }
}
</script>

<style scoped>
.navbar {
    position: fixed;
    /* fixing the position takes it out of html flow - knows
                   nothing about where to locate itself except by browser
                   coordinates */
    left: 0;
    /* top left corner should start at leftmost spot */
    top: 0;
    /* top left corner should start at topmost spot */
    width: 100vw;
    /* take up the full browser width */
    z-index: 200;
    /* high z index so other content scrolls underneath */
    height: 100px;
    /* define height for content */
}

.v-input.searchfield {
    height: 30px;
    padding-top: 0px;
}

.not-margin {
    margin: 0px;
    font-weight: normal;
    padding: 10px;
}

.con-form {
    width: 100%;
}

.con-form .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.con-form .flex a {
    font-size: 0.8rem;
    opacity: 0.7;
}

.con-form .flex a:hover {
    opacity: 1;
}

.con-form .vs-checkbox-label {
    font-size: 0.8rem;
}

.con-form .vs-input-content {
    margin: 10px 0px;
    width: calc(100%);
}

.con-form .vs-input-content .vs-input {
    width: 100%;
}

.footer-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100%);
}

.footer-dialog .new {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 0.7rem;
}

.footer-dialog .new a {
    color: rgba(var(--vs-primary), 1) !important;
    margin-left: 6px;
}

.footer-dialog .new a:hover {
    text-decoration: underline;
}

.footer-dialog .vs-button {
    margin: 0px;
}
</style>