<template>
    <vs-alert relief :color="'#ffffff'">
        <template #title>
            <span class="title">SkyConnect notification</span>
        </template>
        <span class="text">{{ message }}</span>
    </vs-alert>

</template>

<script>

export default {
    props: ['message']
}

</script>

<style scoped>

span {
    color: #195bff;
}

.title {
    font-size: 17px;
}

.text {
    font-size: 14px;
}

</style>