<template>
    <div>
        <table>
            <tr>
                <td>
                    <v-avatar color="primary" size="48">
                        <img :src="user.profilePicture">
                    </v-avatar>
                    <span style="margin-left: 10px; font-size: 24px"><b>{{ user.name }} {{ user.surname }}</b></span>

                </td>
            </tr>
            <tr>
                <td>
                    <img width="100%" :src="photo">
                </td>
            </tr>
            <tr>
                <td>
                    <v-textarea v-model="postDescription" filled auto-grow label="What's on your mind?" rows="1"
                        row-height="30" shaped></v-textarea>
                    <v-file-input @change="addImg($event)" :rules="rules" accept="image/png, image/jpeg"
                        placeholder="Attach a photo" prepend-icon="mdi-camera" label="Upload a photo..."></v-file-input>
                    <v-row style="margin-bottom: 5px; margin-left: 5px;">
                        <vs-button primary @click="makePost">Make post</vs-button>
                        <vs-button success @click="addToGallery">Add to gallery</vs-button>
                    </v-row>

                </td>
            </tr>
        </table>
        <vs-dialog not-padding v-model="notifAlert">
            <NotificationAlert :message="alertMsg" />
        </vs-dialog>
        <vs-dialog not-padding v-model="errorAlert">
            <ErrorAlert :message="alertMsg" />
        </vs-dialog>
    </div>

</template>

<script>

import axios from 'axios';

import NotificationAlert from '@/components/alerts/NotificationAlert.vue';
import ErrorAlert from '@/components/alerts/ErrorAlert.vue';

export default {
    data: () => ({
        postDescription: '',
        photo: null,
        rules: [
            value => !value || value.size < 60000000 || 'Cant post images over 60 megabytes!',
        ],
        imageFile: null,

        errorAlert: false,
        notifAlert: false,
        alertMsg: ''
    }),
    methods: {
        addImg(e) {
            const image = e;
            this.imageFile = e;
            console.log(image)
            const reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = e => {
                this.photo = e.target.result;
                console.log(this.photo);
            };
        },
        makePost() {
            let config = { header: { 'Content-Type': 'multipart/form-data' } }
            let data = new FormData();
            data.append('file', this.imageFile);
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.post('/upload/image', data, config)
                .then((res) => {
                    let imgpath = res.data.imgpath;
                    let postData = {
                        'description': this.postDescription,
                        'posterId': this.user.id,
                        'picture': imgpath

                    }
                    axios.post('/post/post', postData).then((res) => {
                        console.log(res);
                        self.alertMsg = 'Posting successful';
                        self.notifAlert = true;
                        location.reload();
                    }).catch((err) => {
                        console.log(err);
                        self.alertMsg = 'An error occured!';
                        self.errorAlert = true;
                    })
                }).catch((err) => {
                        console.log(err);
                        self.alertMsg = 'An error occured!';
                        self.errorAlert = true;
                    });
        },
        addToGallery() {
            if (this.imageFile == null) {
                alert('You have to upload a picture to add it to gallery');
                return;
            }
            let config = { header: { 'Content-Type': 'multipart/form-data' } }
            let data = new FormData();
            data.append('file', this.imageFile);
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.post('/upload/image', data, config)
                .then((res) => {
                    let imgpath = res.data.imgpath;
                    let postData = {
                        'description': this.postDescription,
                        'posterId': this.user.id,
                        'picture': imgpath

                    }
                    axios.post('/picture/post', postData).then((res) => {
                        console.log(res);
                        self.alertMsg = res.data.message;
                        self.notifAlert = true;
                        location.reload();
                    }).catch((err) => {
                        console.log(err);
                        self.alertMsg = 'An error occured!';
                        self.errorAlert = true;
                    })
                }).catch((err) => {
                        console.log(err);
                        self.alertMsg = 'An error occured!';
                        self.errorAlert = true;
                    });
        }
    },
    components: {
        NotificationAlert,
        ErrorAlert
    },
    props: ['user', 'token']
}
</script>

<style scoped>
table {
    padding: 5px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(46, 199, 46, 0.8);
    text-align: left;
    margin-bottom: 10px;
}
</style>
