<template>
    <div>
        <vs-card type="1" width="250px" height="250px">
            <template #title>
                <h3>{{ person.name }} {{ person.surname }}</h3>
            </template>
            <template #img>
                <img width="100%" height="100%" :src="person.profilePicture" alt="">
            </template>
            <template #text>
                <p>
                    {{ person.dateOfBirth }}
                </p>
                <span v-if="user !== null">Mutual friends: {{ getMutualFriends() }}</span>
            </template>

            <!-- UNLOGGED SEARCH RESULT LIST -->
            <template #interactions v-if="user === null">
                <vs-tooltip dark top>
                    <vs-button dark icon @click="friendInfo">
                        <info_icon :svgColor="'#ffffff'" />
                    </vs-button>
                    <template #tooltip>
                        Go to profile
                    </template>
                </vs-tooltip>
            </template>

            <!-- BLOCK LIST -->
            <template #interactions v-else-if="user.blocked.includes(person.id)">
                <vs-tooltip success top>
                    <vs-button success icon @click="unblock">
                        <unblock_icon :svgColor="'#ffffff'" />
                    </vs-button>
                    <template #tooltip>
                        Unblock
                    </template>
                </vs-tooltip>
                <vs-tooltip warn top v-if="user.role == 'ADMIN'">
                    <vs-button warn icon @click="banUser">
                        <ban_icon :svgColor="'#000000'" />
                    </vs-button>
                    <template #tooltip>
                        Ban user
                    </template>
                </vs-tooltip>
            </template>

            <!-- FRIENDS -->
            <template #interactions v-else>
                <!-- PENDING FRIEND REQUESTS -->
                <vs-tooltip success top v-if="pendingRequest">
                    <vs-button success icon @click="acceptRequest">
                        <person_add :svgColor="'#ffffff'" />
                    </vs-button>
                    <template #tooltip>
                        Accept friend request
                    </template>
                </vs-tooltip>
                <vs-tooltip danger top v-if="pendingRequest">
                    <vs-button danger icon @click="rejectRequest">
                        <person_remove :svgColor="'#ffffff'" />
                    </vs-button>
                    <template #tooltip>
                        Reject friend request
                    </template>
                </vs-tooltip>
                <!-- FRIEND LIST -->
                <vs-tooltip danger top v-else-if="areFriends()">
                    <vs-button danger icon @click="removeFriend">
                        <person_remove :svgColor="'#ffffff'" />
                    </vs-button>
                    <template #tooltip>
                        Remove friend
                    </template>
                </vs-tooltip>
                <vs-tooltip success top v-else>
                    <vs-button success icon @click="addFriend">
                        <person_add :svgColor="'#ffffff'" />
                    </vs-button>
                    <template #tooltip>
                        Send friend request
                    </template>
                </vs-tooltip>
                <vs-tooltip dark top>
                    <vs-button dark icon @click="friendInfo">
                        <info_icon :svgColor="'#ffffff'" />
                    </vs-button>
                    <template #tooltip>
                        Go to profile
                    </template>
                </vs-tooltip>
                <vs-tooltip warn top v-if="user.role == 'ADMIN'">
                    <vs-button warn icon @click="banUser">
                        <ban_icon :svgColor="'#000000'" />
                    </vs-button>
                    <template #tooltip>
                        Ban user
                    </template>
                </vs-tooltip>
                <vs-tooltip color="#790808" top>
                    <vs-button color="#790808" icon @click="blockUser">
                        <block_icon :svgColor="'#ffffff'" />
                    </vs-button>
                    <template #tooltip>
                        Block user
                    </template>
                </vs-tooltip>
                <vs-button v-if="areFriends()" primary icon @click="startChat">
                    <chat_icon :svgColor="'#ffffff'" />
                </vs-button>
                <vs-button v-if="areFriends()" primary icon @click="showMutualFriends">
                    <mutual_friends_icon :svgColor="'#ffffff'" />
                </vs-button>
            </template>
        </vs-card>
        <vs-dialog not-padding v-model="notifAlert">
            <NotificationAlert :message="alertMsg" />
        </vs-dialog>
        <vs-dialog not-padding v-model="errorAlert">
            <ErrorAlert :message="alertMsg" />
        </vs-dialog>
    </div>


</template>

<script>

import person_add from '@/assets/people/person_add_opsz24.vue';
import person_remove from '@/assets/people/person_remove_opsz24.vue';
import info_icon from '@/assets/util/info_opsz24.vue';
import block_icon from '@/assets/people/no_accounts_opsz24.vue';
import ban_icon from '@/assets/people/block_opsz24.vue';
import unblock_icon from '@/assets/people/account_circle_opsz24.vue';
import chat_icon from '@/assets/util/chat_opsz24.vue';
import mutual_friends_icon from '@/assets/people/mutual_friends_opsz24.vue'

import NotificationAlert from '@/components/alerts/NotificationAlert.vue';
import ErrorAlert from '@/components/alerts/ErrorAlert.vue';

import axios from 'axios'

export default {
    data: () => ({
        errorAlert: false,
        notifAlert: false,
        alertMsg: ''
    }),
    methods: {
        areFriends() {
            return this.user.friends.includes(this.person.id);
        },
        acceptRequest() {
            let data = {
                'requestId': this.pendingRequest.id,
                'accepted': true
            }
            let self = this;
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.post('/friendrequest/answer', data)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
                    userwithtoken.user.friends.push(self.person.id);
                    sessionStorage.setItem('state', JSON.stringify(userwithtoken));
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                })
        },
        rejectRequest() {
            let data = {
                'requestId': this.pendingRequest.id,
                'accepted': false
            }
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.post('/friendrequest/answer', data)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                })
        },
        addFriend() {
            let data = {
                'sender': this.user.id,
                'receiver': this.person.id
            }
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.post('/friendrequest/send', data)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                })

        },
        removeFriend() {
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.get('/user/unfriend?user=' + this.user.id + '&friend=' + this.person.id)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                })
        },
        blockUser() {
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.post('/user/block?user=' + this.user.id + '&person=' + this.person.id)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                })
        },
        friendInfo() {
            if (this.user == null) { // IF USER ISNT LOGGED
                this.$router.push({name: 'unloggedUserView', params: {id: this.person.id}});
            } else {
                this.$router.push({name: 'friendInfo', params: {id: this.person.id}});
            }
            
        },
        banUser() {
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.delete('/user/ban/' + this.person.id)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                    console.log(err);
                })
        },
        getMutualFriends() {
            let count = 0;
            this.user.friends.forEach((friendid) => {
                this.person.friends.forEach((fid) => {
                    if (friendid === fid) {
                        count += 1;

                    }
                })
            });
            return count;
        },
        unblock() {
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.get('/user/unblock?user=' + this.user.id + '&person=' + this.person.id)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                    console.log(err);
                })
        },
        showMutualFriends() {
            this.$router.push('/user/mutual-friends/' + this.person.id);
            location.reload();
        },

        startChat() {
            sessionStorage.setItem('interlocutor', JSON.stringify(this.person));
            
            let self = this;
            axios.defaults.headers.common['Authorization'] = this.token;

            axios.get('/user/chat/getpath/' + this.user.id + '/' + this.person.id)
                .then((res) => {
                    let chatid = res.data;
                    self.$router.push('/chat/t/' + chatid);
                });

        }
    },
    components: {
        person_add,
        person_remove,
        info_icon,
        ban_icon,
        block_icon,
        unblock_icon,
        chat_icon,
        mutual_friends_icon,
        NotificationAlert,
        ErrorAlert
    },
    props: ['person', 'user', 'token', 'pendingRequest']
}

</script>

<style scoped>
</style>