<template>
    <table>
        <tr>
            <td >
                <v-avatar color="primary" size="96">
                    <img :src="profilePicture">
                </v-avatar>
                <span style="margin-left: 10px; font-size: 24px"><b>{{ user.name }} {{ user.surname }}</b></span> <br>
                <span style="margin-left: 10px; font-size: 15px;"> Birthday: {{ user.dateOfBirth }} </span>  

            </td>
        </tr>
        <tr>
            <td>
                <vs-avatar-group max="10">
                    <span style="color:darkgray; font-size: 18px; margin-right: 20px">{{ user.friends.length }} friends </span>
                    <vs-avatar v-for="(friend, idx) in friend_users" :key="idx">
                        <vs-tooltip bottom>
                            <img :src="friend.profilePicture">

                            <template #tooltip>
                                {{ friend.name }} {{ friend.surname }}
                            </template>
                        </vs-tooltip>
                    </vs-avatar>
                </vs-avatar-group>
                
            </td>
        </tr>
    </table>
</template>

<script>
import axios from 'axios';


export default {
    mounted() {
        let self = this;
        axios.defaults.headers.common['Authorization'] = this.token;
        axios.get('/user/friends/' + this.user.id)
            .then((res) => {
                self.friend_users = res.data;
                console.log(self.friend_users);
            })
    },
    data: () => ({
        friend_users: null
    }),
    props: ['profilePicture', 'user', 'token']
}

</script>

<style scoped>
table {
    padding: 5px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(46, 199, 46, 0.8);
    text-align: center;
    margin-bottom: 10px;
}
</style>